<DOCTYPE! html>
<html>

<head>
    <script src="{{url_for('static', filename='j.js')}}"></script> 
    <link rel = stylesheet type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>
 <ul class="topnav" id="myTopnav">
  <li><a href="{{url_for('places')}}">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<center><h1>{{ dive.name }}</h1>

<script> 
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("slide");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
}
</script> 
<img class ="slide" id = "p1" src = {{dive.photo1}} height = "300">
<img class = "slide" id = "p2" src={{dive.photo2}} height = "300">
<img class = "slide" id = "p3" src={{dive.photo3}} height = "300">

<a id = "buttonleft" onclick="plusDivs(-1)">&#10094;</a>
<a id = "buttonright" onclick="plusDivs(+1)">&#10095;</a>

<p>{{dive.description}}</p>

<div id = "re">
<form action="{{url_for('diveplace',place_id = dive.id)}}" method = 'post'>
<h3>Add a review on {{dive.name}} </h3>
<input type="text" placeholder="How is this diving place?" name = "review">
<input type ="number" placeholder="How would you rate the place (1-5)" name= "star">

<input type = "submit" value = "add!">
<h2> Reviews</h2>
{% for review in review %}
{% if review.what_place == dive.id %}

<div class="reviews">
    
    
    <p>{{review.review}} {{review.star}}</p>


    
</div>


{% endif %}

{% endfor %}
</form>
</div>

<form action= "{{url_for('diveplace',place_id = dive.id)}}" method = "post">
<h3>Add a dive shop near {{dive.name}}</h3>
<input type="text" placeholder = "Name of dive shop" name="shopname">
<input type="text" placeholder = "Price per day" name="price">
<input type="text" placeholder = "Address" name="address">
<input type="submit" value = "add!">
<h2>Dive shops</h2>
{% for shop in shops %}

<p>{{shop.shopname}}</p><br>
<p>{{shop.address}}</p><br>
<p>{{shope.price}}</p>

{% endfor %}
</form>

</body>


</html>