
h1 { color: #34e5ff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px;
 margin: 0 0 24px; text-align: center; text-transform: uppercase; }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../static/ocean.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;

}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


.buttonleft {
  position:absolute;
  top:"500px"; 
}
.buttonright {
  position:absolute;
  top:"500px";
  right:"1000px"; 
}


/* 69b578 greenish
34e5ff turq
 f4e76e yellowish
 3185fc blue
 db2763 pinkish */


